* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    min-height: 100vh;
    background: #93a8ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  ::selection {
    color: white;
    background: #93a8ac;
  }
  .file-upload__wrapper {
    width: 640px;
    background: #fff;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.05);
  }
  .file-upload__wrapper header {
    color: #93a8ac;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .form-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  .file-upload__wrapper .file-upload__form {
    height: 150px;
    border: 2px dashed #93a8ac;
    cursor: pointer;
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding: 10px;
  }
  form.file-upload__form :where(i, p) {
    color: #9b6a6c;
  }
  form.file-upload__form i {
    font-size: 50px;
  }
  form.file-upload__form p {
    font-size: 1rem;
    margin-top: 15px;
  }
  section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
  }
  section .row i {
    font-size: 2rem;
    color: #9b6a6c;
  }
  section .details span {
    font-size: 1rem;
  }
  .progress-container .row .content-wrapper {
    margin-left: 15px;
    width: 100%;
  }
  .progress-container .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  .progress-container .content .progress-bar-wrapper {
    height: 10px;
    width: 100%;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 30px;
  }
  .content .progress-bar .progress-wrapper {
    height: 100%;
    background: #9b6a6c;
    width: 0%;
    border-radius: 6px;
  }
  .uploaded-container {
    overflow-y: scroll;
    max-height: 230px;
  }
  .uploaded-container.onprogress {
    max-height: 160px;
  }
  .uploaded-container .row .content-wrapper {
    display: flex;
    align-items: center;
  }
  .uploaded-container .row .details-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .uploaded-container .row .details-wrapper .name span {
    color: #424B54;
    font-size: 10px;
  }
  .uploaded-container .row .details-wrapper .file-size {
    color: #404040;
    font-size: 11px;
  }
  .faliure {
    color: red;
  }